/* inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* miama font */
@import url('https://fonts.cdnfonts.com/css/miama');

/* font-family: 'Miama', sans-serif; */
/* --------- */

/* global or common style is here */

body {
  max-width: 80%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  margin: 0 auto;
  border: 1px solid red;
  color: #FFFFFF;
  background-color: black
}

p {
  opacity: 70%;
}

.common_btn {
  width: 35%;
  height: 15%;
  background-color: #E6533C;
  border-radius: 30px;
  border: none;
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 1.2em;

}

/* ------------ ----------------*/

/* --------habit section style -------- */
.habit {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  border: 1px solid red;
}

.habit_header {
  width: 50%;
  margin: 40px auto;
  text-align: center;
}

.habits {
  width: 80%;
  display: flex;
  gap: 10px;
  margin: 0 auto;
  text-align: center;

}

.habits img {

  border-radius: 50%;
}

/* -------habit section responsive for mobile device------- */
@media screen and (max-width: 576px) {
  body {
    width: 95%;
  }

  .habit_header {
    width: 90%;
    margin: 20px auto;
  }

  .habits {
    width: 90%;
    display: flex;
    flex-direction: column;

  }

}

/* ----------habit section done and end here--------- */

/* ----------run extra mile---------- */
.run_extra {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 50px auto 20px;
  background-color: #222222;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid red;


}

.run_heading {
  width: 50%;
  text-align: left;
  margin-right: 3em;
  padding-bottom: 3em;
  margin-top: 2em;
}

.run_heading h1 {
  width: 40%;
  font-weight: 800;
  font-size: 2em;
  margin-top: 0;
}

.run_heading p {
  width: 70%;
  text-align: left;
}

.run_img {
  width: 30%;
  height: 17em;
  background-image: url('../images/run.jpg');
  background-size: cover;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: auto 0;
}

/* --------------mobile responsive part----------- */
@media screen and (max-width: 576px) {
  .run_extra {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 0;
    text-align: left;


  }

  .run_heading {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .run_heading h1 {
    width: 80%;
    font-weight: 800;
    font-size: 2em;
    margin-top: 0;
  }

  .run_heading p {
    width: 85%;
  }

  .run_heading button {
    width: 100%;
    height: 2em;
  }


  .run_img {
    width: 80%;
    height: 14em;
    background-image: url('../images/run.jpg');
    background-size: cover;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 0 auto;
  }

}

/* ------run extra is end here */

/* ----------BMI part-------- */
.bmi_part {
  width: 100%;
  margin: 20px auto;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  background-color: #222222;
  padding: 20px 0;
}

.bmi_chart {
  width: 27%;
  margin: 1.2em auto 0;
  border: 1px solid red;
  text-align: left;
  /* padding: 10px; */

}

.bmi_chart>h1 {
  margin: 0 0 1.5em;
}

.bmi_chart table tr td,
th {
  padding: 0.7em;
  margin: 1.5em 0 0;

}

.bmi_chart td {
  opacity: 70%;
}

.calc_heading {
  width: 70%;
}

#height {
  grid-area: height;
}

#weightt {
  grid-area: weightt;
}

#age {
  grid-area: age;
}

#sex {
  grid-area: sex;
}

#activity {
  grid-area: activity;
}

.bmi_calculator {
  width: calc(80% - 1em);
  display: grid;
  grid-template-areas: 
    "height weightt"
    "age sex"
    "activity activity"
  ;
  border: 1px solid red;
  grid-gap: 1em;
  padding: 1em;

}

.bmi_calculator input,
select {
  padding: 1em 0.4em;
  font-size: 1em;
  border-radius: 5px;
  color: #858484;
  background-color: #383838;
  border: none;

}


/* ------bmi section mobile responsive---------- */
@media screen and (max-width: 576px) {
  .bmi_part {
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    
  }
  
  .bmi_chart {
    width: calc(90% - 1.5em);
    border: 1px solid red;
    text-align: left;
    padding: 1.5em 0;
  
  }
  .bmi_calculator {
    display: grid;
    grid-template-areas: 
      "height"
      "weightt"
      "age"
      "sex"
      "activity"
    ;
    margin: 0 auto;
  
  }
  .calc_heading {
    width: 80%;
    margin: 2.5em auto 0;

  }
}

/* -------------------------------- */
